---
- name: Check if Chocolatey is already installed
  win_stat:
    path: 'C:\ProgramData\chocolatey\bin\choco.exe'
  register: choco_installed

- name: Create Temp Directory for Installer
  win_file:
    path: C:\Temp
    state: directory
  when: not choco_installed.stat.exists

- name: Download Chocolatey Install Script
  win_get_url:
    url: https://community.chocolatey.org/install.ps1
    dest: C:\Temp\choco-install.ps1
  when: not choco_installed.stat.exists

- name: Run Chocolatey Installer from Disk
  win_shell: |
    Set-ExecutionPolicy Bypass -Scope Process -Force;
    & C:\Temp\choco-install.ps1
  when: not choco_installed.stat.exists

- name: Remove Installer Script
  win_file:
    path: C:\Temp\choco-install.ps1
    state: absent
  when: not choco_installed.stat.exists