---
# Logic for RHEL Registration Check
- name: Verify RHEL Registration
  block:
    - name: Get subscription identity
      ansible.builtin.command: subscription-manager identity
      register: rh_identity
      changed_when: false
      failed_when: false

    - name: Fail if Red Hat is not registered
      ansible.builtin.fail:
        msg: "System is Red Hat but NO System ID found. Please register."
      when: rh_identity.rc != 0
  when: ansible_distribution == "RedHat"

- name: OS Verified
  ansible.builtin.debug:
    msg: "System is {{ ansible_distribution }}. Proceeding..."